:root{
--primary-color: #e50914;
--dark-color: #000000;
}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
font-family: 'Arial', sans-serif;
font-smooth: antialiased;
background: #000 !important;
color: #000 ;
}
ul{
list-style: none;
}
h1, h2, h3, h4{
color: #fff !important;
}
a{
color: #fff !important;
text-decoration: none;
}
p{
margin: 0.5rem 0;
}
img{
width: 100%;
}
.showcase{
width: 100%;
height: 100vh;
position: relative;
background: url('images/netflix-bg.jpg') no-repeat center center/cover;
border-bottom: 6px solid #222;
}
.showcase::after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background: rgba(0, 0, 0, 0.6);
box-shadow: inset 120px 100px 250px #000000,  inset -120px -100px 250px #000000;
}
.showcase-top{
position: relative;
height: 90px;
z-index: 2!important;
top: 5%;
}
.showcase-top img{
width: 170px;
position: absolute;
top: 9%;
left: 10%;
transform: translate(-50%, -50%);
}
.showcase-top a{
position: absolute;
top: 7%;
right: 0;
transform: translate(-50%, -50%);
}
.showcase-content{
position: relative!important;
margin: auto!important;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 6rem!important;
z-index: 2;
}
.showcase-content h1{
width: 55%;
font-weight: 500;
font-size: 4.5rem;
line-height: 0.8;
margin: 0 4rem 2rem;
}
.showcase-content p{
color: #fff;
font-weight: 400;
font-size: 1.8rem;
line-height: 1.25;
margin: 0 0 3rem;
}
.tabs{
background: var(--dark-color);
padding-top: 2rem;
}
.tabs p{
font-size: 1.2rem!important;
padding: 0.5rem!important;
}
.tabs .container > div{
padding: 1.5rem 0;
}
.tabs .container > div{
color: #ffffff;
}
.tabs .container{
display: grid!important;
grid-template-columns:  repeat(2, 2fr);
grid-column-gap:2rem;
}
.container{
max-width: 100%;
margin: auto;
overflow: hidden;
padding: 3rem 2rem;
color: #222222;
border-bottom: 4px solid white;
margin-bottom: 6rem;
}
.tabs .container  .tab-item {
width: 100%;
padding: 10px;
border-color: #fff!important;
}
.tabs .container  .tab-item  {
font-size: 1.5rem!important;
padding: 1rem 1.5rem;
text-transform: uppercase;
background: transparent;
border-radius: 2px;
}
.tabs .container  .btn-xl {
font-size: 1.2rem!important;
background:transparent;
width: 25%;
border: 2px solid white;
padding: 4px;
padding-right: 120px;
align-items: center!important;
text-align: center!important;
justify-content: center;
}
#tab-1 img{
width: 500px;
position: absolute;
top: 740px;
right: 10%;
}
.tabs-2{
background: var(--dark-color);
}
.tabs-2 p{
font-size: 1.2rem!important;
padding: 0.5rem!important;
}
.tabs-2 .container > div{
	display: block;
padding: 1.5rem 0;
}
.tabs-2 .container > div{
color: #ffffff;
}
.tabs-2 .container{
display: grid!important;
grid-template-columns:  repeat(2, 2fr);
grid-column-gap:2rem;
}
.container{
max-width: 100%;
margin: auto;
overflow: hidden;
padding: 3rem 2rem;
color: #222222;
border-bottom: 4px solid white;
margin-bottom: 6rem;
}
.tabs-2 .container  .tab-item {
width: 100%;
padding: 10px;
border-color: #fff!important;
}
.tabs-2 .container  .tab-item  {
font-size: 1.5rem!important;
padding: 1rem 1.5rem;
text-transform: uppercase;
background: transparent;
border-radius: 2px;
}
.tabs-2 .container  .btn-xl {
font-size: 1.2rem!important;
background:transparent;
width: 25%;
border: 2px solid white;
padding: 4px;
padding-right: 120px;
align-items: center!important;
text-align: center!important;
justify-content: center;
}
#tab-2 img{
width: 500px;
position: absolute;
top: 1140px;
right: 10%;
}
.tabs-3{
background: var(--dark-color);
}
.tabs-3 p{
font-size: 1.2rem!important;
padding: 0.5rem!important;
}
.tabs-3 .container > div{
padding: 1.5rem 0;
height: 48vh;
}
.tabs-3 .container > div{
color: #ffffff;
}
.tabs-3 .container{
display: grid!important;
grid-template-columns:  repeat(2, 2fr);
grid-column-gap:2rem;
}
.container{
max-width: 100%;
margin: auto;
overflow: hidden;
padding: 3rem 2rem;
color: #222222;
border-bottom: 4px solid white;
margin-bottom: 6rem;
}
.tabs-3 .container  .tab-item {
width: 100%;
padding: 10px;
border-color: #fff!important;
}
.tabs-3 .container  .tab-item  {
font-size: 1.5rem!important;
padding: 1rem 1.5rem;
text-transform: uppercase;
background: transparent;
border-radius: 2px;
}
.tabs-3 .container  .btn-xl {
font-size: 1.2rem!important;
background:transparent;
width: 25%;
border: 2px solid white;
padding: 4px;
padding-right: 120px;
align-items: center!important;
text-align: center!important;
justify-content: center;
}
#tab-3 img{
width: 450px;
position: absolute;
top: 1600px;
right: 10%;
}
.btn{
display: inline-block;
background: var(--primary-color);
color: #fff;
padding: 0.4rem 1.3rem;
font-size: 1rem;
text-align: center;
border: none;
cursor: pointer;
margin-right: 0.5rem;
outline: none;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
border-radius: 2px;
}
.btn:hover{
opacity: 0.9;
}
.btn-rounded{
border-radius: 5px;
}
.btn-xl{
font-size: 2rem!important;
padding: 1.5rem 2.1rem;
text-transform: uppercase;
}
.tab-content .container .tab-content-item h1{
width: 100%;
font-weight: 500;
font-size: 2.5rem;
line-height: 0.8;
margin:auto;
text-align: center;
justify-content: center;
margin-bottom: 5%;
}
.heading h2{
width: 40%;
margin-left: 8rem;
margin-bottom: 4rem;
}
.heading img{
width: 300px;
position: absolute;
right: 13%;
top: 2130px;
margin-bottom: 2rem;
}
.footer {
max-width: 70%;
margin: 1rem auto;
overflow: auto;
}
.footer a {
color: #999;
font-size: 0.9rem;
}
.footer p {
margin-bottom: 1.5rem;
}
.footer .footer-cols {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 2rem;
}
.footer li {
line-height: 1.9;
}
.footer .lang-select {
margin-top: 2rem;
color: #999;
background-color: #000;
background-image: none;
border: 1px solid #333;
padding: 1rem 1.2rem;
border-radius: 5px;
}
@media(max-width: 1060px){
.showcase{
height: 70vh!important;
}
.showcase-content h1{
width: 80%;
font-weight: 400;
font-size: 2rem;
line-height: 0.8;
margin: 0 0;
}
.showcase-content p{
font-weight: 300;
font-size: 1.2rem;
line-height: 1.25;
margin: 1rem  3rem;
}
.showcase-top img{
width: 150px;
position: absolute;
top: 9%;
left: 15%;
transform: translate(-50%, -50%);
}
.tabs .container{
width: 90%;
height: 60vh;
}
.tabs .container h1{
width: 70%;
font-weight: 400;
font-size: 2rem;
line-height: 1;
margin: 0 0;
}
.tabs .container p{
width: 70%!important;
font-weight: 300;
line-height: 1;
margin: 1rem 0rem;
}
#tab-1 img{
width: 320px;
position: absolute;
top: 560px;
margin-right: 0;
}
.tabs-2 .container{
width: 90%;
height: 70vh;
}
.tabs-2 .container h1{
width: 70%;
font-weight: 400;
font-size: 2rem;
line-height: 1;
margin: 0 0;
}
.tabs-2 .container p{
width: 70%;
font-weight: 300;
line-height: 1;
margin: 1rem 0rem;
}
#tab-2 img{
width: 320px;
position: absolute;
top: 1030px;
margin-right: 0;
}
.tabs-3 .container{
width: 90%;
height: 60vh;
}
.tabs-3 .container h1{
width: 70%;
font-weight: 400;
font-size: 2rem;
line-height: 1;
margin: 0 0;
}
.tabs-3 .container p{
width: 70%;
font-weight: 300;
line-height: 1;
margin: 1rem 0rem;
}
#tab-3 img{
width: 320px;
position: absolute;
top: 1530px;
margin-right:0;
}
.heading .container{
display: none;
width: 100%;
height: 60vh;
margin: 0 0;
}
.footer .footer-cols{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 2rem;
}
.showcase-top .btn-rounded{
margin-right: 0;
}
}
@media(max-width: 760px){
.showcase{
height: 70vh!important;
}
.showcase-content h1{
width: 80%;
font-weight: 500;
font-size: 2.5rem;
line-height: 0.8;
margin: 0 0;
}
.showcase-content p{
font-weight: 350;
font-size: 1.3rem;
line-height: 1.25;
margin: 1rem  3rem;
}
.showcase-top img{
width: 150px;
position: absolute;
top: 9%;
left: 15%;
transform: translate(-50%, -50%);
}
.tabs .container{
width: 90%;
height: 64vh;
}
.tabs .container h1{
width: 80%;
font-weight: 350;
font-size: 2rem;
line-height: 1;
margin: 0 0;
}
.tabs .container p{
width:70%;
font-weight: 300;
line-height: 1;
margin: 1rem 0rem;
}
#tab-1 img{
height: 200px;
width: 270px;
position: absolute;
top: 600px;
margin-right: 0;
}
.tabs-2 .container{
width: 90%;
height: 74vh;
}
.tabs-2 .container h1{
width: 80%;
font-weight: 350;
font-size: 2rem;
line-height: 1;
margin: 0 0;
}
.tabs-2 .container p{
width:70%;
font-weight: 300;
line-height: 1;
margin: 1rem 0rem;
}
#tab-2 img{
height: 200px;
width: 270px;
position: absolute;
top: 1120px;
margin-right: 0;
}
.tabs-3 .container{
width: 90%;
height: 64vh;
}
.tabs-3 .container h1{
width: 70%;
font-weight: 350;
font-size: 2rem;
line-height: 1;
margin: 0 0;
}
.tabs-3 .container p{
width:70%;
font-weight: 300;
line-height: 1;
margin: 1rem 0rem;
}
#tab-3 img{
height: 200px;
width: 270px;
position: absolute;
top: 1700px;
margin-right: 0;
}
.footer .footer-cols{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 2rem;
}
.showcase-top .btn-rounded{
margin-right: 0;
}
}
@media(max-width: 590px){
.showcase{
height: 70vh!important;
}
.showcase-content h1{
width: 80%;
font-weight: 500;
font-size: 2.5rem;
line-height: 0.8;
margin: 0 0;
}
.showcase-content p{
font-weight: 350;
font-size: 1.3rem;
line-height: 1.25;
margin: 2rem  3rem;
}
.showcase-top img{
width: 150px;
position: absolute;
top: 9%;
left: 20%;
transform: translate(-50%, -50%);
}
.tabs .container{
width: 90%;
height: 60vh;
}
.tabs .container h1{
width: 70%;
font-weight: 350;
font-size: 1.8rem;
line-height: 1;
margin: 0 0;
}
.tabs .container p{
width:70%;
font-weight: 270;
line-height: 1;
margin: 1rem 0rem;
}
#tab-1 img{
height: 100px;
width: 200px;
position: absolute;
top: 600px;
margin-right: 0;
}
.tabs-2 .container{
width: 90%;
height: 64vh;
}
.tabs-2 .container h1{
width: 90%;
font-weight: 350;
font-size: 1.8rem;
line-height: 1;
margin: 0 0;
}
.tabs-2 .container p{
width:70%;
font-weight: 270;
line-height: 1;
margin: 1rem 0rem;
}
#tab-2 img{
height: 100px;
width: 200px;
position: absolute;
top: 1100px;
margin-right: 0;
}
.tabs-3 .container{
width: 90%;
height: 60vh;
}
.tabs-3 .container h1{
width: 90%;
font-weight: 350;
font-size: 1.8rem;
line-height: 1;
margin: 0 0;
}
.tabs-3 .container p{
width:70%;
font-weight: 270;
line-height: 1;
margin: 1rem 0rem;
}
#tab-3 img{
height: 100px;
width: 200px;
position: absolute;
top: 1600px;
margin-right: 0;
}
.footer .footer-cols{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 2rem;
}
.showcase-top .btn-rounded{
margin-right: 0;
}
}